@model IEnumerable<BancoLosPatitos.Abstracciones.ModelosParaUI.Cajas.CajasDto>

@{
    ViewBag.Title = "ListaDeCajasPorComercio";
}

<h2>ListaDeCajasPorComercio</h2>

<div class="mb-3">
    @Html.ActionLink("Registrar nueva caja", "RegistrarCaja", new { idComercio = Model.First().IdComercio },
    new { @class = "btn btn-success" })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdCaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdComercio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonoSINPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdCaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdComercio)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonoSINPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>

        <td class="@(item.Estado ? "text-success fw-bold" : "text-danger fw-bold")">
            @(item.Estado ? "Activo" : "Inactivo")
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarCaja", new { id = item.IdCaja }, new { @class = "btn btn-warning btn-sm me-1" }) |
            @Html.ActionLink("ver SINPES", "verSinpes", new { id = item.IdCaja }, new { @class = "btn btn-primary btn-sm" }) |


        </td>
    </tr>
}

</table>
