@model IEnumerable<BrayanJaenContreras.Abstracciones.ModelosParaUI.Habitaciones.HabitacionesDto>

@{
    ViewBag.Title = "ListaDeHabitaciones";
}

<h2>ListaDeHabitaciones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodigoDeHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreDeHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDeHuespedesPermitidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDeCamas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadDeBanos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EncargadoDeLimpieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDeHabitacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoDeLimpieza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostoDeReserva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoDeHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDeHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDeHuespedesPermitidos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDeCamas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadDeBanos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EncargadoDeLimpieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDeHabitacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoDeLimpieza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostoDeReserva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
