@model BancoLosPatitos.Abstracciones.ModelosParaUI.Comercios.ComerciosDto

@{
    ViewBag.Title = "RegistrarComercio";
}

<h2>RegistrarComercio</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    if (ViewBag.MensajeError != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Error:</strong> @ViewBag.MensajeError
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }


    <div class="form-horizontal">
        <h4>ComerciosDto</h4>
        <hr />
        @Html.HiddenFor(model => model.IdComercio)


        <div class="form-group">
            @Html.LabelFor(model => model.Identificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Identificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoIdentificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoIdentificacion,
                 new List<SelectListItem>
                 {
                        new SelectListItem { Text = "Seleccione un tipo de identificación", Value = "" },
                        new SelectListItem { Text = "Física", Value = "1" },
                        new SelectListItem { Text = "Jurídica", Value = "2" }
                 },
                 new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.TipoIdentificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.TipoIdentificacion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TipoIdentificacion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TipoIdentificacion, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoDeComercio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TipoDeComercio,
                 new List<SelectListItem>
                 {
                        new SelectListItem { Text = "Seleccione un tipo de comercio", Value = "" },
                        new SelectListItem { Text = "Restaurantes", Value = "1" },
                        new SelectListItem { Text = "Supermercados", Value = "2" },
                        new SelectListItem { Text = "Ferreterías", Value = "3" },
                        new SelectListItem { Text = "Otros", Value = "4" }
                 },
                 new { @class = "form-select" }) <!-- Bootstrap dropdown -->
                @Html.ValidationMessageFor(model => model.TipoDeComercio, "", new { @class = "text-danger" })
            </div>
        </div>


        @*<div class="form-group">
                @Html.LabelFor(model => model.TipoDeComercio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TipoDeComercio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TipoDeComercio, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CorreoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.FechaDeRegistro)
        @Html.HiddenFor(model => model.FechaDeModificacion)
        @Html.HiddenFor(model => model.Estado)


        <div class="form-group mt-4 d-flex justify-content-start align-items-center gap-2">
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-save"></i> Registrar
            </button>

            @Html.ActionLink("Volver a la lista", "ListaDeComercios", null, new { @class = "btn btn-outline-secondary" })
        </div>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}
